apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: python-app-ingress
  namespace: python-ci-cd
  labels:
    app: python-app
    component: ingress
  annotations:
    ingressClassName: "gce"
    kubernetes.io/ingress.global-static-ip-name: "python-app-ip"
spec:
  rules:
  - host: python-ci-cd.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: python-app
            port:
              number: 80
