apiVersion: v1
kind: Service
metadata:
  name: python-app
  namespace: python-ci-cd
  labels:
    app: python-app
    version: v1
spec:
  selector:
    app: python-app
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP
